.hero {
    background-color: #009688;
    color: #FFF;
}
.hero .container {
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.hero h1 {
    margin: 0;
    font-size: 300%;
}
.hero p {
    font-size: 150%;
    margin: 0.5rem 0 0;
}

.hero_popup {
    width: 35%;
    max-width: 256px;
    position: absolute;
    display: none;
}

.text-carousel {
    position: relative;
}
.text-carousel .carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity 333ms ease;
}
.text-carousel .carousel-item:first-child {
    position: relative;
}

.top-content {
    /*padding-top: 6rem;
    padding-bottom: 6rem;*/
    display: block;
}

.title {
    margin: 0;
    font-size: 275%;
}

.subtitle {
    font-size: 150%;
}

.lets-talk {
    margin-top: 0.5rem;
}

.feat-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.feat {
    margin: 1rem 0;
    flex: 0 0 300px;
    display: flex;
    flex-direction: column;
}

.feat.feat-h {
    flex: 0 0 450px;
    flex-direction: row;
}

.feat.feat-h .feat-icon {
    flex: 0 0 36px;
    width: 36px;
    height: 36px;
    margin-right: 1rem;
}

.feat-text {
    flex: 1 1 auto;
    margin: 0;
    font-size: 120%;
    color: #CCC;
    transition: color 333ms ease;
}

.feat:hover .feat-text {
    color: inherit;
}



@media only screen and (min-width: 490px) {
    .hero_popup {
        display: block;
        bottom: 0;
        right: 10px;
        transform: translateY(50%);
    }
}

@media only screen and (min-width: 490px) {

}